/target
.vscode/launch.json
__pycache__/
venv/
.vscode/

# Ignore general files and directories
.git
.github
data
.vscode
*.pyc
*.pyo

# Ignore __pycache__ folders
**/__pycache__


**/database.db
**.m4a
*.mp3
*.wav